<div class="registro-container">
    <div class="registro-box">
      <h2 class="text-center mb-4">Registro de Cliente</h2>
  
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" formControlName="email" class="form-control" placeholder="ejemplo@correo.com">
          <small *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-danger">
            Introduce un correo válido.
          </small>
        </div>
  
        <div class="form-group">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" formControlName="nombre" class="form-control" placeholder="Escribe tu  nombre">
          <small *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched" class="text-danger">
            Introduce un nombre válido.
          </small>
        </div>
  
        <div class="form-group">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input type="text" formControlName="apellidos" class="form-control" placeholder="Escribe tus apellidos">
          <small *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched" class="text-danger">
            Introduce apellidos válidos.
          </small>
        </div>
  
        <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Contraseña segura">
          <small *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="text-danger">
            La contraseña es obligatoria.
          </small>
        </div>
  
        <button class="btn btn-primary btn-block" type="submit" [disabled]="registroForm.invalid">Registrarse</button>
      </form>
  
      <div class="login">
        <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </div>
  </div>
