<div class="vacantes-header text-center">
  <h2>Gestión de Vacantes</h2>
  <p class="descripcion">Administra fácilmente tus procesos de selección en un solo lugar.</p>
</div>

<div class="table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th>PUESTO</th>
        <th>PUBLICACIÓN</th>
        <th>ESTADO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vacante of vacantes">
        <td>{{ vacante.nombre }}</td>
        <td>{{ vacante.descripcion }}</td>
        <td>{{ vacante.estado }}</td>
        <td class="d-flex flex-column flex-md-row gap-2 justify-content-center">
          <button class="btn btn btn-detalle me-1" [routerLink]="['/detallesVacantes',vacante.idVacante]"   >Ver Detalles</button>
          <button class="btn btn btn-editar me-1" [routerLink]="['/editarVacante',vacante.idVacante]" >Editar</button>
          <button class="btn btn btn-danger"  (click)="eliminarVacante(vacante.idVacante)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
